<ion-content>
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-col size="3">
      <ion-img  src="assets/img/logo.png" alt="Quick Event Logo"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img src="assets/img/producto.jpg" alt="Producto"></ion-img>

    </ion-col>
    <ion-col size="3">
     
    </ion-col>
    
    <ion-col size="12">
      <ion-text>
        <h5 class="ion-no-margin ion-text-center ion-text-uppercase">Pasta risoni barilla</h5>
        <p>Pasta de 500 gramos de origen italiano con tamaño n.26 y 
          forma de granos de arroz, hecha a base de semóla integral
          de trigo duro y agua con cocción requerida de 9 minutos.</p>
          <p>Contiene derivados de trigo. Puede contener soya. Contiene gluten.</p>
      </ion-text>
    </ion-col>
    <ion-col size="6">
      <ion-button class=" button-square" size="large" mode="md" expand="block" color="turquesa"
      [routerLink]="">Agregar</ion-button>
    </ion-col>
    
    <ion-col size="6">
      <ion-button class="button-square" size="large" mode="md" expand="block" color="danger"
      [routerLink]="">Descartar</ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-text>
        <h5 class="ion-no-margin ion-text-center ion-text-uppercase">6.000 pesos Colombianos</h5>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>

