<ion-content>
  <ion-row class="ion-justify-content-center ion-margin-top">
    <ion-col size="3">
      <ion-img  src="assets/img/logo.png" alt="Quick Event Logo"></ion-img>
    </ion-col>
    <ion-col size="6">
      <ion-img [src]="product.image" alt="Producto"></ion-img>

    </ion-col>
    <ion-col size="3">
     
    </ion-col>
    
    <ion-col size="12">
      <ion-text>
        <h5 class="ion-no-margin ion-text-center ion-text-uppercase">{{product.name}}</h5>
        <p>{{product.description}}</p>
        <p color="danger">{{product.allergens}}</p>
      </ion-text>
    </ion-col>
    <ion-col size="12">
      <ion-text>
        <h5 class="ion-no-margin ion-text-center ion-text-uppercase">{{product.price |currency:'COP':'$':'1.0-0'}} pesos Colombianos</h5>
      </ion-text>
    </ion-col>
    <ion-col size="6">
      <ion-button class=" button-square" size="large" mode="md" expand="block" color="turquesa"
      (click)="addProduct()">Agregar</ion-button>
    </ion-col>
    
    <ion-col size="6">
      <ion-button class="button-square" size="large" mode="md" expand="block" color="danger"
      (click)="deleteProduct()">Descartar</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

