<ion-content>
  <ion-grid class="hv-100">
    <ion-row class="hv-100 ion-justify-content-center ion-align-items-center">
      <ion-col size="10">
        <ion-img class="logo" src="assets/img/logo.png" alt="Quick Event Logo"></ion-img>
        
        <ion-text class="ion-text-center">
          <h4 class="ion-margin-top">Login</h4>
        </ion-text>
        <p class="ion-text-center ion-error" *ngIf="msg">
          <ion-text color="danger">{{msg_string}}</ion-text>
        </p>
      <div class="form-control">
        <label for="">Correo Electrónico:</label>
        <input type="email" placeholder="Correo Electrónico" [(ngModel)]="email">
      </div>
      <div class="form-control">
        <label for="">Contraseña:</label>
        <input type="password" placeholder="Contraseńa" [(ngModel)]="password">
      </div>
      </ion-col>
      <ion-col size="6">
        <ion-button 
          class="ion-text-uppercase" 
          mode="md" 
          expand="block" 
          color="light"
          [routerLink]="['/register']"
          >Registro</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button 
          class="ion-text-uppercase" 
          mode="md" 
          expand="block" 
          color="turquesa"
          (click)="login()"
          >Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

