<ion-content>
    <ion-row class="ion-justify-content-center ion-align-items-center ion-margin-top">
      <ion-col size="3">
        <ion-img  src="assets/img/logo.png" alt="Quick Event Logo"></ion-img>
      </ion-col>
      <ion-col size="9">
        <ion-text>
          <h4 class="ion-no-margin">Carrito de compras</h4>
        </ion-text>
      </ion-col>
      <ion-col class="ion-margin-top" size="12">
        <ion-button class="ion-text-uppercase ion-margin-top" size="large" mode="md" expand="block" color="turquesa-dark"
        (click)="clearCart()">Finalizar Compra</ion-button>
        <ion-button class="ion-text-uppercase" size="large" mode="md" expand="block" color="turquesa"
        (click)="openScanner()">Agregar producto</ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-text>
          <h5 class="ion-no-margin ion-text-center">Total:</h5>
        </ion-text>
      </ion-col>
      <ion-col size="6">
        <ion-text>
          <h5 class="ion-no-margin">{{total |currency:'COP':'$':'1.0-0'}}</h5>
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text>
          <h5 class="ion-no-margin ion-text-center ion-margin-top">Lista de productos</h5>
        </ion-text>
      </ion-col>

      <ion-col size="12">
        
        <ion-list>
        
          <ion-item *ngFor="let product of cart_items">
            <ion-label class="ion-text-wrap">
              <ion-row>
                <ion-col size="4">
               <ion-text>
                 <h3 class="ion-text-uppercase">{{product.name}}</h3>
               </ion-text>
             </ion-col>
             <ion-col size="4">
               {{product.price |currency:'COP':'$':'1.0-0'}}
             </ion-col>
             <ion-col size="4">
              {{product.cant}} unidad{{product.cant > 1 ? 'es': ''}}
             </ion-col>
             </ion-row>
            <p>{{product.description}}</p> 
            <br>
            <ion-text class="ion-margin-top" color="danger">
             <p class="ion-margin-top">
               <strong>
                {{product.allergens}}
               </strong>
             </p> 
            </ion-text>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
</ion-content>
